body{
  background-color: #383838;
  font-family:Helvetica;
}

p{
  color: white;
  font-family:Helvetica;
}

h1{
  color:white;
  font-family:Helvetica;
}

h3{
  color:white;
  font-family:Helvetica;
}

ol{
  color:white;
  font-family:Helvetica;
}

ul{
  color:white;
  font-family:Helvetica;
}

li{
  color:white;
  font-family:Helvetica;
}

.navbar {
  overflow: hidden;
  background-color: #383838;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 2px 2px 2px 2px;
  text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: gray;
}
